div.app {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

div.app > div {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}
